
body{
    margin: 0px;
    padding: 0px;
    color: white;
}




/* MAIN */

main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 200px;
}

h1{
    color: white;
    background-color: #874dbd;
    display: flex;
    justify-content: center;
    width: 150px;
    padding: 10px;
}

.rect1, .rect2, .rect3{
    background-color: #874dbd;
    width: 500px;
    height: 200px;
    box-sizing: border-box;

    transition: all .4s ease;                   /*Permet une transition smooth quand on quitte le hover */
    box-shadow: 1px 7px 36px -11px #000000;
}

.rect1:hover, .rect2:hover, .rect3:hover{
    transform: scale(110%);
    transition: all .4s ease;

}

.rect1 h2, .rect2 h2, .rect3 h2{
    display: flex;
    justify-content: center;
}

.rect1 p, .rect2 p, .rect3 p{
    margin-left: 15px;
}

/* Séléctionner les div qui ont un frère qui est hover  */
/* Séléctionnes les frères de la div qui est hover

Ici, les frères sont uniquement les frères qui suivent la div (cf. CSS : Cascade Style*/


/* Équivalent de div:has(~div:hover), div:hover ~ div */
/*.rect1:hover, .rect2:hover, .rect3:hover:has(~.rect1:hover, .rect2:hover, .rect3:hover:hover), .rect1:hover, .rect2:hover, .rect3:hover:hover ~ div{  */
    main div:has(~main div:hover),  main div:hover ~ div{
    transform: scale(90%);
}


/* FOOTER */








